<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Basico</title>
</head>

<body>
    <style>

    .input-search {
        width: 200px !important;
        height: 20px !important;
        line-height: 30px !important;
        border-radius: 20px !important;
        padding: 0 20px !important;
        background-color: aliceblue;
    }

    label{
        font-size: 14px;
        padding: 0 4px 0 2px;
        vertical-align: top;
        white-space: nowrap;
        color: rgb(76, 86, 94);

    }

    button {
        box-shadow: none;
        border: none;
        color: #fff;
        font-size: 14px;
        min-height: 30px;
        height: 30px;
        margin: 2px 0 8px 4px;
        padding: 4px 12px;
        border-radius: 3px;
    }

    td,
    th {
        border-radius: 0 !important;
        /* padding: 5px 5px 5px 5px!important; */
        padding: 5px!important;
    }

    table {
        width: 50%;
        height: 100%;
        /* margin-left: 5%; */
    }
*{
    outline: none;
}

    </style>
    <% if (locals.erroMsg) { %>
        <p><%= erroMsg %></p>
    <% } %> 
    <form id="formDados" action="/clientes" method="POST" >
        <%= console.log(cliente) %>
        <div style="background: #f9fafc;">
            <label for="nome">Nome:</label>
            <input class="input-search"class="input-search" name="nome" id="nome" type="text" value="<%= cliente.nome %>">
            <br>
            <br>
            <label for="sobrenome">Sobrenome:</label>
            <input class="input-search" name="sobrenome" id="sobrenome" type="text" required value="<%= cliente.sobrenome %>">
            <br>
            <br>
            <label for="senha">Senha:</label>
            <input class="input-search" name="senha" id="senha" type="password" required value="<%= cliente.senha %>">
            <br>
            <br>
            <label for="email">E-mail:</label>
            <input class="input-search" name="email" id="email" type="email" required value="<%= cliente.email %>">
            <br>
            <br> 
        </div>   
        <br> 
        <div> 
            <label for="sexo">Sexo:</label>
            <input class="input-search" name="sexo" id="sexo" type="cpf" required value="<%= cliente.sexo %>">
            <br>
            <br>
            <label for="cpf">CPF:</label>
            <input class="input-search" name="cpf" id="cpf" type="text" required value="<%= cliente.cpf %>">
            <br>
            <br> 
            <label for="rg">RG:</label>
            <input class="input-search" name="rg" id="rg" type="text" required value="<%= cliente.rg %>">
            <br>
            <br> 
            <label for="telefone">Telefone:</label>
            <input class="input-search" name="telefone" id="telefone" type="text" required value="<%= cliente.telefone %>">
            <br>
            <br> 
            <label for="nascimento">Nascimento:</label>
            <input class="input-search" name="nascimento" id="nascimento" type="datetime" required value="<%= cliente.nascimento %>">
            <br>
            <br> 
            <label for="estado_civil">Estado Civil:</label>
            <input class="input-search" name="estado_civil" id="estado_civil" type="text" required value="<%= cliente.estado_civil %>">
            <br>
            <br> 
            <label for="cep">CEP:</label>
            <input class="input-search" name="cep" id="cep" type="text" required value="<%= cliente.cep %>">
            <br>
            <br>
            <label for="endereco">Endereco:</label>
            <input class="input-search" name="endereco" id="endereco" type="text" required value="<%= cliente.endereco %>">
            <br>
            <br>              
        <div>   


    </form>
    
    <button onclick="window.location.href='/clientes';" style="background-color: gray; ">Novo</button>
    <button type="submit" form="formDados" style="background-color: #5aac44; ">Salvar</button>
    <% if (cliente.codigo > 0) { %>
        <button type="submit" formmethod="POST" formaction="/clientes/del/<%= cliente.codigo %>" form="formDados" style="background-color: red; ">Excluir</button>
    <% } %> 
    <br>
    <br>
    <table>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>E-mail</th>
            <th>Sexo</th>
            <th>CPF</th>
            <th>RG</th>
            <th>Telefone</th>
            <th>Nascimento</th>
            <th>Estado Civil</th>
            <th>CEP</th>
            <th>Endereco</th>


        </tr>
        <% for( let i = 0; i < lista.length; i++ ) { %>
            <tr>
                <td><%= lista[i].codigo %></td>
                <td><%= lista[i].nome %></td>
                <td><%= lista[i].sobrenome %></td>
                <td><%= lista[i].email %></td>

                <td><%= lista[i].sexo %></td>
                <td><%= lista[i].cpf %></td>
                <td><%= lista[i].rg %></td>
                <td><%= lista[i].telefone%></td>
                <td><%= lista[i].nascimento %></td>
                <td><%= lista[i].estado_civil %></td>
                <td><%= lista[i].cep %></td>
                <td><%= lista[i].endereco %></td>


                <td><a href="/clientes/<%= lista[i].codigo %>">Editar</a></td>
            </tr>
        <% } %>
    </table>
</body>
</html>